button {
	background-color: #d00;
	border-width: 0;
	border-radius: 8px;
	box-shadow: none;
  cursor: pointer;
	color: white;
	font-weight: bold;
	margin: 14px 8px;
	padding: 8px;
	text-transform: uppercase;

  &.is-disabled {
    cursor: default;
    opacity: 0.5;
  }
}
