html, body {
    min-height: 100%;
}

body {
  background-color: green;
  font-family: "Lucida Grande", sans-serif;
}

.playingboard {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 100px auto;
}

.column {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
    max-width: 70%;
    width: 400px;
  }
}

@import "button";
@import "dice";
@import "die";
@import "scores";
